<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .background {
            background-image: url("../static/img/404.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
    </style>
</head>
<body>
    <div class="background"></div>
</body>
</html>
