<!DOCTYPE html>
<html lang="en">
<head>
  <!--    Group 39
          Zihao Yang
          Wei Li
          Yuqi Zhang
          Xin Li
          Zihao Hu -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>COMP90024 Project Home</title>
  <!--import bootstrap and jquery -->
  <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/bootcss/bootstrap.min.css">
  <link rel="stylesheet" href="../static/bootcss/bootstrap-theme.min.css">
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootjs/bootstrap.min.js"></script>
  <!--  import chart-->
  <script src="../static/Chart.js/Chart.min.js"></script>
  <script src="../static/Chart.js/samples/utils.js"></script>
  <style>
  *{
    overflow-y:auto;
  }
  .title{
    margin-bottom: 5%;
  }
  .options{
    height:30px;
    text-align: center;
  }
  .cards{
    display:grid;
    height:60px;
    padding-left: 10%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom:5%;

  }
  .card{
    display:flex;
    width:80%;
    justify-content:space-evenly;
    background-color:#fff;
    border-radius: 2rem;
  }
  .charts{
    width: 100%;
    text-align: center;
  }
  .chart{
    margin-top:5%;
    background-color:#fff;

  }

  </style>

  <!--  import style sheet-->
  <link rel="stylesheet" type="text/css" href="../static/css/styless.css"/>
  <link rel="stylesheet" href="../static/css/fa/css/all.css">

</head>
<body id="home">
<div class="container">
  <div class="row clearfix">
<!--    side nav-->
    <div class="col-md-3 column sidenav" >
      <img alt="140x140" src="../static/img/404.jpg" />
      <ul>
        <li>
          <a href="home.html"><i class="fas fa-home">&nbsp&nbspHome</i></a>
        </li>
        <li>
          <a href="about.html"><i class="fas fa-project-diagram">&nbsp&nbspAbout</i></a>
        </li>
        <li>
          <a href="map.html"><i class="fas fa-map">&nbsp&nbspMap</i></a>
        </li>
        <li>
          <a href="#"><i class="fas fa-chart-bar">&nbsp&nbspStatistics</i></a>
        </li>
        <li>
          <a href="statistics.html"><i class="fas fa-chart-bar">&nbsp&nbspTBA</i></a>
        </li>
      </ul>
    </div>
<!--    content for this page-->
    <div class="col-md-9 column right-content" style="background-color: #f0f0f0;">
        <h1 style = "text-align: center;"  class = title>
        DataAnalysis
        </h1>
        <div class = cards>
          <div class = card>
            <h3>6000</h3>
            <span>Users</span>
          </div>
          <div class = card>
            <h3>36000</h3>
            <span>Tweets</span>
          </div>
        </div>
        <div class= charts>
          <h2>PieChart:</h2>
          <canvas class= chart></canvas>
          <canvas class= chart></canvas>
        </div>
        <div class = options>
          <a href="#barchart" id="user">Sydney&nbsp;&nbsp;</a>
          <a href="#barchart" id="tweets">Melbourne&nbsp;&nbsp;</a>
          <a href="#barchart" id="tweets">Adelede&nbsp;&nbsp;</a>
          <a href="#barchart" id="crime">Canberry</a>
        </div>
        <div class= charts>
          <h2>BarChart:</h2>
          <canvas class= chart></canvas>
          <canvas class= chart></canvas>
        </div>

    </div>
  </div>
</div>
<script>

  var Users = {
    datasets:[{
      backgroundColor: ['#f96be3', '#3970dd', '#754af7','#36a2eb'],
      data: [10,40,40,10],
    }],
    labels: ['Sydney','Melboune', 'Adelede', 'Canberry']
  };
  var optionsEC = {
    title:{display: true, text:'Total Users mentioned different sport types', fontSize:'24', fontFamily:'sans-serif'},
    legend:{display:true, position:'bottom', align:'center'}
  };
  var canvas = document.getElementsByTagName('canvas')[0];
  var Pie = canvas.getContext('2d');
  PieChart = new Chart(Pie, {type:'pie', data: Users, options: optionsEC});
  var Users = {
    datasets:[{
      backgroundColor: ['#f96be3', '#3970dd', '#754af7','#36a2eb'],
      data: [10,40,40,10],
    }],
    labels: ['Sydney','Melboune', 'Adelede', 'Canberry']
  };
  var optionsEC = {
    title:{display: true, text:'Total tweets mentioned different sport types', fontSize:'24', fontFamily:'sans-serif'},
    legend:{display:true, position:'bottom', align:'center'}
  };
  var canvas = document.getElementsByTagName('canvas')[1];
  var Pie = canvas.getContext('2d');
  PieChart = new Chart(Pie, {type:'pie', data: Users, options: optionsEC});

  var UsersBar={
    datasets: [{
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"]
  }
  var optionBar={
        title: {
                    display: true,
                    text: 'Users mentioned sport types for Cities in Victoria',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
  var canvas1 = document.getElementsByTagName('canvas')[2];
  var Bar = canvas1.getContext('2d');
  BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});
  var UsersBar={
    datasets: [{
          data: [12, 40, 3, 5, 9, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Football", "Basketball", "Badminton", "Gym", "Golf", "Swimming"]
  }
    var optionBar={
        title: {
                    display: true,
                    text: 'Tweets mentioned sport types in each city',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
    var canvas1 = document.getElementsByTagName('canvas')[3];
    var Bar = canvas1.getContext('2d');
    BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});

  document.getElementById('user').addEventListener('click', function() {
    var UsersBar={
    datasets: [{
          data: [12, 40, 3, 5, 9, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Football", "Basketball", "Badminton", "Gym", "Golf", "Swimming"]
  }
    var optionBar={
        title: {
                    display: true,
                    text: 'Tweets mentioned sport types in each city',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
    var canvas1 = document.getElementsByTagName('canvas')[2];
    var Bar = canvas1.getContext('2d');
    BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});
    var UsersBar={
    datasets: [{
          data: [12, 40, 3, 5, 9, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Football", "Basketball", "Badminton", "Gym", "Golf", "Swimming"]
  }
    var optionBar={
        title: {
                    display: true,
                    text: 'Tweets mentioned sport types in each city',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
    var canvas1 = document.getElementsByTagName('canvas')[3];
    var Bar = canvas1.getContext('2d');
    BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});
    var UsersBar={
    datasets: [{
          data: [12, 40, 3, 5, 9, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Football", "Basketball", "Badminton", "Gym", "Golf", "Swimming"]
  }
    var optionBar={
        title: {
                    display: true,
                    text: 'Tweets mentioned sport types in each city',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
    var canvas1 = document.getElementsByTagName('canvas')[2];
    var Bar = canvas1.getContext('2d');
    BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});
          });
  document.getElementById('tweets').addEventListener('click', function() {
    var Users = {
      datasets:[{
        backgroundColor: ['#f96be3', '#3970dd', '#754af7','#36a2eb'],
        data: [10,40,40,10],
      }]
      ,
      labels: ['Sydney','Melboune', 'Adelede', 'Canberry']
    };
    var optionsEC = {
      title:{display: true, text:'Users mentioned sport per city', fontSize:'24', fontFamily:'sans-serif'},
      legend:{display:true, position:'bottom', align:'center'}
    };
    var canvas = document.getElementsByTagName('canvas')[0];
    var Pie = canvas.getContext('2d');
    PieChart = new Chart(Pie, {type:'pie', data: Users, options: optionsEC});
    var UsersBar={
    datasets: [{
          data: [12, 40, 3, 5, 9, 3],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
      }],
    labels: ["Football", "Basketball", "Badminton", "Gym", "Golf", "Swimming"]
  }
    var optionBar={
        title: {
                    display: true,
                    text: 'Tweets mentioned sport types in each city',
                    fontColor: '#cccccc',
                    fontSize: 30,
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }}] }
              }
    var canvas1 = document.getElementsByTagName('canvas')[3];
    var Bar = canvas1.getContext('2d');
    BarChart = new Chart(Bar, {type:'bar', data: UsersBar, options: optionBar});
          });

</script>

</body>
</html>
