{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Group 39
            Zihao Yang
            Wei Li
            Yuqi Zhang
            Xin Li
            Zihao Hu -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>COMP90024 Home</title>
  <!--import bootstrap and jquery -->
  <link rel="stylesheet" type="text/css" href="{% static "/css/normalize.css"%}">
  <link rel="stylesheet" href="{% static "/bootcss/bootstrap.min.css" %}">
  <script src="{% static "/jquery/jquery.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>

<!--  import style sheet-->
  <link rel="stylesheet" type="text/css" href="{% static "/css/style.css"%}"/>
  <link rel="stylesheet" href="{% static "/css/fa/css/all.css"%}">

</head>
<body id="home">
  <div class="container">
    <div class="row clearfix">
      <!--    side nav-->
      <div class="col-md-2 column sidenav">
        <div class="col-md-12 column sidenavin">
            <img alt="140x140" src="{% static "/img/unimelb.png"%}" />
            <ul>
              <li class="this">
                <a style="color: #094183" href="/home/">&nbsp<i class="fas fa-home"></i>&nbsp&nbspHome</a>
              </li>
              <li>
                <a href="/about/">&nbsp<i class="fas fa-project-diagram"></i>&nbsp&nbspAbout</a>
              </li>
              <li>
                <a href="/map/">&nbsp<i class="fas fa-map"></i>&nbsp&nbspMap</a>
              </li>
              <li>
                <a href="/statistics/">&nbsp<i class="fas fa-chart-bar"></i>&nbsp&nbspStatistics</a>
              </li>
              <li>
              <a href="/" onclick="event.target.port=9000">&nbsp<i class="fas fa-cogs"></i>&nbsp&nbspManage</a>
                </li>
                <li>
                  <a href="/haproxy-admin/">&nbsp<i class="fas fa-sitemap"></i>&nbsp&nbspHAProxy</a>
                </li>
                <li>
                  <a href="/" onclick="event.target.port=8080">&nbsp&nbsp<i class="fas fa-bolt"></i>&nbsp&nbsp&nbspSpark</a>
                </li>
                <li>
                  <a href="/" onclick="event.target.port=5984">&nbsp<i class="fas fa-couch"></i>&nbsp&nbspCouchDB</a>
                </li>
              </ul>
        </div>
      </div>
<!--      content for this page-->
      <div class="col-md-10 column right-content" style="overflow-y: auto">
        <div class="home-right">
          <h2>COMP90024 Project</h2>
          <br>
          <h1>Twitterlance</h1>
          <br>
          <h2>Team 39</h2>
          <div class="help">
            <span class="helptext" >
              &nbspScroll down this page, start the jobs with corresponding buttons&nbsp
            </span>&nbsp
            <i class="fa fa-question-circle"></i>
          </div>
        </div>
        <div class="col-md-12 job-control">
          <div class="row">
            <div class="col-md-12" style="width: 100%">
              <div class="col-md-2">
                <div class="jobstatus">
                  Search:&nbsp<span id="searchstatus">loading</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="jobstatus">
                  Stream:&nbsp<span id="streamstatus">loading</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="jobstatus">
                  Update:&nbsp<span id="updatestatus">loading</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="jobstatus">
                  CouchDB:&nbsp<span id="couchdbstatus">loading</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Input search quantity">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button" style="margin-right: 5px">Search</button>
                  <button class="btn btn-default" type="button">Stream</button>
                  <button class="btn btn-default" type="button">Update</button>
                  <button class="btn btn-default" type="button">CouchDB</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  window.onload=function(){

    let searchstatus = document.getElementById('searchstatus');
    let streamstatus = document.getElementById('streamstatus');
    let updatestatus = document.getElementById('updatestatus');
    let couchdbstatus = document.getElementById('couchdbstatus');
    let btn = document.getElementsByTagName("button");
    let searchbtn = btn[0];
    let updatebtn = btn[1];
    let streambtn = btn[2];
    let couchdbbtn = btn[3];
    let input = document.getElementsByTagName("input")[0].value;

    function jobstatus(url_,status){
      $.ajax({
        url: url_,
        type: "get",
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
          // let temp = JSON.parse(data);
          status.innerHTML = data["status"]
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }
    jobstatus("/analyser/jobs/search/",searchstatus);
    jobstatus("/analyser/jobs/update/",updatestatus);
    jobstatus("/analyser/jobs/stream/",streamstatus);
    jobstatus("/analyser/jobs/couchdb/",couchdbstatus);

    function jobcontrol(url_,status){
      $.ajax({
        url: url_,
        type: "put",
        data: {},
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
          // status.innerHTML = data["status"]
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }
    searchbtn.addEventListener('click',function(){
      input = document.getElementsByTagName("input")[0].value;
      console.log(input);
    })
  }
</script>
</html>
