{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Group 39
            Zihao Yang
            Wei Li
            Yuqi Zhang
            Xin Li
            Zihao Hu -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>COMP90024 Home</title>
  <!--import bootstrap and jquery -->
  <link rel="stylesheet" type="text/css" href="{% static "/css/normalize.css"%}">
  <link rel="stylesheet" href="{% static "/bootcss/bootstrap.min.css" %}">
  <script src="{% static "/jquery/jquery.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>

<!--  import style sheet-->
  <link rel="stylesheet" type="text/css" href="{% static "/css/style.css"%}"/>
  <link rel="stylesheet" href="{% static "/css/fa/css/all.css"%}">

</head>
<body id="home">
  <div class="container">
    <div class="col-md-1 column sidenav">
      {% include "nav.html" %}
    </div>
    <!--      content for this page-->
    <div class="col-md-11 column right-content" style="overflow-y: auto">
      <div class="home-right">
        <h2>COMP90024 Project</h2>
        <br>
        <h1>Twitterlance</h1>
        <br>
        <h2>Team 39</h2>
        <div class="help">
          <span class="helptext" >
            &nbspScroll down this page, start the jobs with corresponding buttons&nbsp
          </span>&nbsp
          <i class="fa fa-question-circle"></i>
        </div>
      </div>
      <div class="col-md-12 job-control">
        <div class="row">
          <div class="col-md-12" style="width: 100%">
            <div class="col-md-2">
              <div class="jobstatus">
                Search:&nbsp<span id="searchstatus">loading</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="jobstatus">
                Stream:&nbsp<span id="streamstatus">loading</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="jobstatus">
                Update:&nbsp<span id="updatestatus">loading</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="jobstatus">
                CouchDB:&nbsp<span id="couchdbstatus">loading</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <input type="number" class="form-control" min="1" max="1000" placeholder="Input search quantity">
                <span class="input-group-btn">
                <button disabled="disabled" class="btn btn-default" type="button" style="margin-right: 5px">Search</button>
                <button disabled="disabled" class="btn btn-default" type="button">Stream</button>
                <button disabled="disabled" class="btn btn-default" type="button">Update</button>
                <button disabled="disabled" class="btn btn-default" type="button">CouchDB</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  window.onload=function(){

    let searchstatus = document.getElementById('searchstatus');
    let streamstatus = document.getElementById('streamstatus');
    let updatestatus = document.getElementById('updatestatus');
    let couchdbstatus = document.getElementById('couchdbstatus');
    let btn = document.getElementsByTagName("button");
    let searchbtn = btn[0];
    let updatebtn = btn[1];
    let streambtn = btn[2];
    let couchdbbtn = btn[3];
    let input = document.getElementsByTagName("input")[0].value;

    function jobstatus(url_,status,btn){
      $.ajax({
        url: url_,
        type: "get",
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
          // let temp = JSON.parse(data);
          status.innerHTML = data["status"]
          if(data["status"]==="idle"){
            btn.disabled=false;
          }
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }
    jobstatus("/analyser/jobs/search/",searchstatus,searchbtn);
    jobstatus("/analyser/jobs/update/",updatestatus,updatebtn);
    jobstatus("/analyser/jobs/stream/",streamstatus,streambtn);
    jobstatus("/analyser/jobs/couchdb/",couchdbstatus,couchdbbtn);

    function searchjobcontrol(url_,data_){
      $.ajax({
        url: url_,
        type: "put",
        data: data_,
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }
    function jobcontrol(url_){
      $.ajax({
        url: url_,
        type: "put",
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }
    searchbtn.addEventListener('click',function(){
      input = document.getElementsByTagName("input")[0].value;
      if (input>=1000 || input<1 ){
        alert("out of range");
      }else{
        input = {"new_users": input};
        console.log(input);
        searchjobcontrol("/analyser/jobs/search/",input);
        document.getElementsByTagName("input")[0].disabled=true;
        searchbtn.disabled=true;
      }
    })
    updatebtn.addEventListener('click',function(){
      jobcontrol("/analyser/jobs/update/");
      updatebtn.disabled=true;
    })
    streambtn.addEventListener('click',function(){
      jobcontrol("/analyser/jobs/stream/");
      streambtn.disabled=true;
    })
    couchdbbtn.addEventListener('click',function(){
      jobcontrol("/analyser/jobs/couchdb/");
      couchdbbtn.disabled=true;
    })
  }
</script>
</html>
