{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!--    Group 39
          Zihao Yang
          Wei Li
          Yuqi Zhang
          Xin Li
          Zihao Hu -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Statistics</title>
  <!--import bootstrap and jquery -->
  <link rel="stylesheet" type="text/css" href="{% static "/css/normalize.css"%}">
  <link rel="stylesheet" href="{% static "/bootcss/bootstrap.min.css" %}">
  <script src="{% static "/jquery/jquery.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>
  <script src="{% static "/bootjs/bootstrap.min.js" %}"></script>

<!--  import style sheet-->
  <link rel="stylesheet" type="text/css" href="{% static "/css/style.css"%}"/>
  <link rel="stylesheet" href="{% static "/css/fa/css/all.css"%}">
  <!--  import chart-->
  <script src="{% static "/Chart.js/Chart.min.js"%}"></script>
  <script src="{% static "/Chart.js/samples/utils.js"%}"></script>

</head>
<body id="statistics">
  <div class="container">
    <div class="row clearfix">
  <!--    side nav-->
      <div class="col-md-2 column sidenav">
        <div class="col-md-12 column sidenavin">
          <img alt="140x140" src="{% static "/img/unimelb.png"%}" />
          <ul>
            <li>
              <a href="/home/">&nbsp<i class="fas fa-home"></i>&nbsp&nbspHome</a>
            </li>
            <li>
              <a href="/about/">&nbsp<i class="fas fa-project-diagram"></i>&nbsp&nbspAbout</a>
            </li>
            <li>
              <a href="/map/">&nbsp<i class="fas fa-map"></i>&nbsp&nbspMap</a>
            </li>
            <li  class="this">
              <a style="color: #094183" href="/statistics/">&nbsp<i class="fas fa-chart-bar"></i>&nbsp&nbspStatistics</a>
            </li>
            <li>
              <a href="/" onclick="event.target.port=9000">&nbsp<i class="fas fa-cogs"></i>&nbsp&nbspManage</a>
            </li>
            <li>
              <a href="/haproxy-admin/">&nbsp<i class="fas fa-sitemap"></i>&nbsp&nbspHAProxy</a>
            </li>
            <li>
              <a href="/" onclick="event.target.port=8080">&nbsp&nbsp<i class="fas fa-bolt"></i>&nbsp&nbsp&nbspSpark</a>
            </li>
            <li>
              <a href="/" onclick="event.target.port=5984">&nbsp<i class="fas fa-couch"></i>&nbsp&nbspCouchDB</a>
            </li>
          </ul>
        </div>
      </div>
  <!--    content for this page-->
      <div class="col-md-10 column right-content">
        <div class="statistic-right">
          <div class="col-md-12 column">
            <div class="col-md-4 user">
              <i class="fas fa-user"style="color: #A5DFDF"></i>
              <p>Users:</p>
              <span id="total_user">loading</span>
            </div>
            <div class="col-md-4 tweet" >
              <i class="fab fa-twitter" style="color: #289FF0"></i>
              <p>Tweets:</p>
              <span id="total_tweet">loading</span>
            </div>
            <div class="col-md-4 tweetsport">
              <i class="fas fa-running"  style="color: #D93241"></i>
              <p>Sport Related Tweets:</p>
              <span id="sportcount">loading</span>
            </div>
          </div>

          <div class="col-md-12 column statistic-detail" >
            <div class="col-md-6" style="margin-right: 2%">
              <div class="col-md-12 column">
                <div class = options>
                  <a class = "col-md-3" href="#" id="scenario1" style="border-radius: 5px 0 0 0;">Sex & Age</a>
                  <a class = "col-md-3" href="#" id="scenario2" style="width: 34%">Work & Study</a>
                  <a class = "col-md-3" href="#" id="scenario3" style="border-radius: 0 5px 0 0 ;">Income & Freq</a>
                </div>
              </div>
              <div class="charts">
                <canvas id="Statisticchart1"></canvas>
                <canvas id="Statisticchart2"></canvas>
                <canvas id="Statisticchart3"></canvas>
                <canvas id="Statisticchart4"></canvas>
                <canvas id="Statisticchart5"></canvas>
                <canvas id="Statisticchart6"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class = options>
                <a class = "col-md-3" href="#" id="sporttype" style="border-radius: 5px 5px 0 0;width: 100%">Sports Rank & Sports Tweets Rank</a>
              </div>
              <div class="charts">
                <canvas id="Statisticchart7"></canvas>
                <canvas id="Statisticchart8"></canvas>
              </div>
            </div>
          </div>

          <div class="col-md-12 column statistic-detail" >
<!--          <div class="col-md-12 column most-vibrant" >-->
            <div class="col-md-6 column vibrant-chart" style="margin-right: 2%">
              <div class = options>
                <a class = "col-md-3" href="#" id="vibrantcity" style="border-radius: 5px 5px 0 0;width: 100%">The Most Vibrant City</a>
              </div>
              <canvas id="themostvibrantcity"></canvas>
<!--              <p> The most vibrant city have lower medium age of the population, lower unemployment rate, higher education level, higher income level and it's citizen cares sports a lot! </p>-->
            </div>
            <div class="col-md-6 column sportuser-chart">
              <div class = options>
                <a class = "col-md-3" href="#" id="sportuser" style="border-radius: 5px 5px 0 0;width: 100%">Top 5 Sports Enthusiast</a>
              </div>
              <canvas id="topsportuser"></canvas>
<!--              <p> The most vibrant city have lower medium age of the population, lower unemployment rate, higher education level, higher income level and it's citizen cares sports a lot! </p>-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
<script>
  window.onload = function () {
    let canvas = document.getElementsByTagName('canvas');
    let canvas1 = canvas[0];
    let canvas2 = canvas[1];
    let canvas3 = canvas[2];
    let canvas4 = canvas[3];
    let canvas5 = canvas[4];
    let canvas6 = canvas[5];
    let canvas7 = canvas[6];
    let canvas8 = canvas[7];
    let canvas9 = document.getElementById('themostvibrantcity');
    let canvas10 = document.getElementById('topsportuser');

    //default
    canvas1.className = 'show';
    canvas2.className = 'show';
    canvas3.className = 'hide';
    canvas4.className = 'hide';
    canvas5.className = 'hide';
    canvas6.className = 'hide';
    canvas7.className = 'show';
    canvas8.className = 'show';

    document.getElementById('scenario1').className = 'col-md-3 activate'
    document.getElementById('scenario2').className = 'col-md-3'
    document.getElementById('scenario3').className = 'col-md-3'

    const tuser = document.getElementById('total_user')
    const ttweet = document.getElementById('total_tweet')
    const tsport = document.getElementById('sportcount')

    // ajax request function
    function statajax(url_, success) {
      $.ajax({
        url: url_,
        type: "get",
        headers:{'Content-Type':'application/json'},
        dataType: "json",
        success: function(data,textStatus,jqxhr){
          success(data);
        },
        error:function(jqxhr,textStatus,error){
          console.log(error);
          console.log(textStatus);
          console.log(jqxhr);
        },
      })
    }

    let user4city;
    let tweet4city;
    let tweetperuser;
    let sport4city;
    let sportpertweet;
    let sportlabel;
    let sportcounts;
    let enthuuser;

    function tweetstat(response){
      let temp = response["tweet_stats"];
      console.log(temp)
      tweet4city = [
        temp["Sydney"],temp["Melbourne"],temp["Adelaide"],temp["Canberra"]
      ];
      ttweet.innerHTML = temp["total_tweets"].toLocaleString()
    }

    function userstat(response){
      let temp = response["user_stats"];
      tuser.innerHTML = temp["total_users"].toLocaleString();
      user4city=[
        temp["Sydney"],temp["Melbourne"],temp["Adelaide"],temp["Canberra"]
      ];
    }

    function popularsport(response){
      let temp = response["total"];
      let temps = Object.entries(temp).sort((a,b) => b[1]-a[1]);
      sportlabel=[
        temps[0][0],temps[1][0],temps[2][0],temps[3][0],temps[4][0],temps[5][0]
      ];
      sportcounts=[
        temps[0][1],temps[1][1],temps[2][1],temps[3][1],temps[4][1],temps[5][1]
      ];
      let labels7 = sportlabel
      let barchartdata7 = sportcounts
      let UsersBar7={
        datasets: [{
          data: barchartdata7,
          label:'number of tweets',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(255, 99, 132, 0.5)',
            'rgba(255, 206, 86, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: labels7
      }

      let optionBar7={
        title: {display: true,text: barcharttitle7,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar7 = canvas7.getContext('2d');
      let Barchart7 = new Chart(Bar7, {type:'bar', data: UsersBar7, options: optionBar7});
    }

    function sportnum(response){
      let temp = response["sum"];
      tsport.innerHTML = temp["total"].toLocaleString();
      sport4city=[
        temp["Sydney"],temp["Melbourne"],temp["Adelaide"],temp["Canberra"]
      ];
      sportpertweet = [
        ((sport4city[0]/tweet4city[0])*100).toFixed(2),
        ((sport4city[1]/tweet4city[1])*100).toFixed(2),
        ((sport4city[2]/tweet4city[2])*100).toFixed(2),
        ((sport4city[3]/tweet4city[3])*100).toFixed(2)
      ]
      let sportscore = [0,0,0,0]
      for (let i=0; i<sportpertweet.length; i++){
        for (let j=0; j<sportpertweet.length; j++){
          if (sportpertweet[i]>=sportpertweet[j]){
            sportscore[i] ++;
          }
        }
      }
      console.log(sportscore);

      let barchartdata8 = sportpertweet;
      let barcharttitle8 = 'Total Sport Tweets/Tweets Ratio';

      //barchart
      let UsersBar8={
        datasets: [{
          data: barchartdata8,
          label:'Sports tweets against total tweets',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }

      let optionBar8={
        title: {display: true,text: barcharttitle8,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar8 = canvas8.getContext('2d');
      let Barchart8 = new Chart(Bar8, {type:'bar', data: UsersBar8, options: optionBar8});

      let middleage = [3,3,2,4];
      let unemp = [3,2,1,4];
      let edu = [3,3,2,4];
      let inc = [3,2,1,4];
      //barchart
      let  UsersBar9= {
        datasets:[{
          label: 'Middle Age',
          data: middleage,
          backgroundColor: 'rgba(255, 99, 132, 0.5)'
        },{
          label: 'Employment',
          data: unemp,
          backgroundColor: 'rgba(54, 162, 235, 0.5)'
        },{
          label: 'Education',
          data: edu,
          backgroundColor: 'rgba(255, 206, 86, 0.5)'
        },{
          label: 'Income',
          data: inc,
          backgroundColor: 'rgba(75, 192, 192, 0.5)'
        },{
          label: 'Sport',
          data: sportscore,
          backgroundColor: 'rgba(75, 75, 192, 0.5)'
        }
        ],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }
      let optionBar9= {
        responsive: true,
        title: {display: true,text: 'The Most Vibrant City',fontSize: 30,},
        legend: {
          position:'top'
        },
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: true,
            ticks: {beginAtZero:true}
          }]
        }
      }
      let Bar9 = canvas9.getContext('2d');
      const Barchart9 = new Chart(Bar9, {type:'bar', data: UsersBar9, options: optionBar9});

    }
    function sportnum_popularsport(response){
      sportnum(response);
      popularsport(response);
    }
    function enthusiasts(response){
      console.log(response);
      let username=[];
      let userscore=[];
      for (let i=0;i<5;i++){
        username[i]=response[i]["name"]+"\n"+response[i]["city"];
        userscore[i]=response[i]["score"];
      }
      console.log(username);
      console.log(userscore);
      let UsersBar10={
        datasets: [{
          data: userscore,
          label:'Enthusiasm Score',
          backgroundColor: [
            'rgba(255, 206, 0, 0.5)',
            'rgba(0, 0, 0, 0.1)',
            'rgba(255, 206, 80, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(255,99,132,0.6)',
          ],
          borderWidth: 0;
        }],
        labels: username
      }
      let optionBar10={
        title: {display: true,text: "Top 5 Sports Enthusiast",fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar10 = canvas10.getContext('2d');
      let Barchart10 = new Chart(Bar10, {type:'bar', data: UsersBar10, options: optionBar10});
    }
    //get tweets number
    statajax('/analyser/tweets/stats/',tweetstat)
    //get user number
    statajax('/analyser/users/stats/',userstat)
    //get sports number
    statajax('/analyser/sports/stats_all/',sportnum_popularsport)
    //get sport type
    // statajax('/analyser/sports/stats_all/',popularsport)
    //get most enthusiast
    statajax('/analyser/users/rank',enthusiasts)

    //default chart when the page is refreshed

    let barchartdata1 = [0.49,0.49,0.49,0.49];
    let barcharttitle1 = 'Gender Ratio';
    let barchartdata2 = [36,36,39,35];
    let barcharttitle2 = 'Medium Age';

    let UsersBar1={
      datasets: [{
        data: barchartdata1,
        label: 'Male Percentage',
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
        ],
        borderColor: [
          'rgba(255,99,132,0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
        ],
        borderWidth: 0
      }],
      labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
    }
    let optionBar1={
      title: {display: true,text: barcharttitle1,fontSize: 30,},
      scales: {yAxes: [{ticks: {beginAtZero:true}}] },
      legend: {
        display: false
      },
      gridlines: {borderWidth: 0.5}
    }

    var Bar1 = canvas1.getContext('2d');
    const Barchart1 = new Chart(Bar1, {type:'bar', data: UsersBar1, options: optionBar1});

    //barchart
    let UsersBar2={
      datasets: [{
        data: barchartdata2,
        label:'Medium age',
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
        ],
        borderColor: [
          'rgba(255,99,132,0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
        ],
        borderWidth: 0
      }],
      labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
    }
    let optionBar2={
      title: {display: true,text: barcharttitle2,fontSize: 30,},
      scales: {yAxes: [{ticks: {beginAtZero:true}}] },
      legend: {
        display: false
      }
    }

    var Bar2 = canvas2.getContext('2d');
    const Barchart2 = new Chart(Bar2, {type:'bar', data: UsersBar2, options: optionBar2});

    // default right page includes tweets related status
    let barchartdata7 = sportcounts;
    let barcharttitle7 = 'Most Popular Sports';
    let barchartdata8 = sportpertweet;
    let barcharttitle8 = 'Total Sport Tweets/Tweets Ratio';
    let labels7 = ['sport1','sport2','sport3','sport4','sport5','sport6']
    let UsersBar7={
      datasets: [{
        data: barchartdata7,
        label:'Number of tweets mentioned',
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(255, 99, 132, 0.5)',
          'rgba(255, 206, 86, 0.5)',
        ],
        borderColor: [
          'rgba(255,99,132,0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(255,99,132,0.6)',
          'rgba(54, 162, 235, 0.6)',
        ],
        borderWidth: 0
      }],
      labels: labels7
    }

    let optionBar7={
      title: {display: true,text: barcharttitle7,fontSize: 30,},
      scales: {yAxes: [{ticks: {beginAtZero:true}}] },
      legend: {
        display: false
      }
    }
    let Bar7 = canvas7.getContext('2d');
    let Barchart7 = new Chart(Bar7, {type:'bar', data: UsersBar7, options: optionBar7});
    //barchart
    let UsersBar8={
      datasets: [{
        data: barchartdata8,
        label:'Sports tweets against total tweets',
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
        ],
        borderColor: [
          'rgba(255,99,132,0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
        ],
        borderWidth: 0
      }],
      labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
    }

    let optionBar8={
      title: {display: true,text: barcharttitle8,fontSize: 30,},
      scales: {yAxes: [{ticks: {beginAtZero:true}}] },
      legend: {
        display: false
      }
    }
    let Bar8 = canvas8.getContext('2d');
    let Barchart8 = new Chart(Bar8, {type:'bar', data: UsersBar8, options: optionBar8});


    //
    //scenario1
    //
    document.getElementById('scenario1').addEventListener('click', function() {
      // canvas.className = 'hide';
      canvas1.className = 'show';
      canvas2.className = 'show';
      canvas3.className = 'hide';
      canvas4.className = 'hide';
      canvas5.className = 'hide';
      canvas6.className = 'hide';
      document.getElementById('scenario1').className = 'col-md-3 activate'
      document.getElementById('scenario2').className = 'col-md-3'
      document.getElementById('scenario3').className = 'col-md-3'
    })

    //
    //scenario2
    //
    document.getElementById('scenario2').addEventListener('click', function() {
      canvas1.className = 'hide';
      canvas2.className = 'hide';
      canvas3.className = 'show';
      canvas4.className = 'show';
      canvas5.className = 'hide';
      canvas6.className = 'hide';

      document.getElementById('scenario1').className = 'col-md-3'
      document.getElementById('scenario2').className = 'col-md-3 activate'
      document.getElementById('scenario3').className = 'col-md-3'

      let barchartdata3 = [6.1,6.8,7.8,4.8];
      let barcharttitle3 = 'Unemployment Rate';
      let barcharttitle4 = 'Education Levels Ratio';
      let bachelor = [0.31,0.3,0.26,0.32]
      let postgraduate = [0.15,0.15,0.11,0.22]
      let advance = [0.15,0.15,0.15,0.14]
      let certificate = [0.03,0.03,0.03,0.02]
      let others = [0.36,0.37,0.45,0.3]

      let UsersBar3={
        datasets: [{
          label: 'Unemployment rate',
          data: barchartdata3,
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }

      let optionBar3={
        title: {display: true,text: barcharttitle3,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      var Bar3 = canvas3.getContext('2d');
      const Barchart3 = new Chart(Bar3, {type:'bar', data: UsersBar3, options: optionBar3});
      //barchart
      let  UsersBar4= {
        datasets:[{
          label: 'Certificate level',
          data: certificate,
          backgroundColor: 'rgba(255, 99, 132, 0.5)'
        },{
          label: 'Bachelor',
          data: bachelor,
          backgroundColor: 'rgba(54, 162, 235, 0.5)'
        },{
          label: 'Advanced diploma',
          data: advance,
          backgroundColor: 'rgba(255, 206, 86, 0.5)'
        },{
          label: 'Postgraduate',
          data: postgraduate,
          backgroundColor: 'rgba(75, 192, 192, 0.5)'
        }
        ],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }
      let optionBar4= {
        responsive: true,
        title: {display: true,text: barcharttitle4,fontSize: 30,},
        legend: {
          position:'top'
        },
        scales: {
          xAxes: [{
            stacked: true,

          }],
          yAxes: [{
            stacked: true,
            ticks: {beginAtZero:true}
          }]
        }
      }
      let Bar4 = canvas4.getContext('2d');
      const Barchart4 = new Chart(Bar4, {type:'bar', data: UsersBar4, options: optionBar4});
    })

    //
    //scenario3
    //
    document.getElementById('scenario3').addEventListener('click', function() {
      canvas1.className = 'hide';
      canvas2.className = 'hide';
      canvas3.className = 'hide';
      canvas4.className = 'hide';
      canvas5.className = 'show';
      canvas6.className = 'show';
      document.getElementById('scenario1').className = 'col-md-3'
      document.getElementById('scenario2').className = 'col-md-3'
      document.getElementById('scenario3').className = 'col-md-3 activate'
      tweetperuser = [
        (tweet4city[0]/user4city[0]).toFixed(2),
        (tweet4city[1]/user4city[1]).toFixed(2),
        (tweet4city[2]/user4city[2]).toFixed(2),
        (tweet4city[3]/user4city[3]).toFixed(2),
      ]

      console.log(tweet4city)
      console.log(user4city)
      console.log(tweetperuser)

      let barchartdata5 = [717,672,614,997];
      let barcharttitle5 = 'Medium Income ';
      let barchartdata6 = tweetperuser ;
      let barcharttitle6 = 'Tweets Sent per User';

      let UsersBar5={
        datasets: [{
          data: barchartdata5,
          label: 'average income per week',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }

      let optionBar5={
        title: {display: true,text: barcharttitle5,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      var Bar5 = canvas5.getContext('2d');
      const Barchart5 = new Chart(Bar5, {type:'bar', data: UsersBar5, options: optionBar5});
      //barchart
      let UsersBar6={
        datasets: [{
          data: barchartdata6,
          label:'tweets number',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }

      let optionBar6={
        title: {display: true,text: barcharttitle6,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar6 = canvas6.getContext('2d');
      let Barchart6 = new Chart(Bar6, {type:'bar', data: UsersBar6, options: optionBar6});
    })
    //
    document.getElementById('sporttype').addEventListener('click', function(){

      canvas7.className = 'show';
      canvas8.className = 'show';

      // statajax('/analyser/sports/stats_all/',popularsport)

      let barchartdata7 = sportcounts;
      let barcharttitle7 = 'Most Popular Sports';
      let barchartdata8 = sportpertweet
      let barcharttitle8 = 'Total Sport Tweets/Tweets ratio';
      labels7 = sportlabel

      let UsersBar7={
        datasets: [{
          data: barchartdata7,
          label:'Number of tweets mentioned',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(255, 99, 132, 0.5)',
            'rgba(255, 206, 86, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: labels7
      }

      let optionBar7={
        title: {display: true,text: barcharttitle7,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar7 = canvas7.getContext('2d');
      let Barchart7 = new Chart(Bar7, {type:'bar', data: UsersBar7, options: optionBar7});

      //barchart
      let UsersBar8={
        datasets: [{
          data: barchartdata8,
          label:'Sports tweets against total tweets',
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
          ],
          borderColor: [
            'rgba(255,99,132,0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
          ],
          borderWidth: 0
        }],
        labels: ["Sydney", "Melbourne", "Adelaide", "Canberra"]
      }

      let optionBar8={
        title: {display: true,text: barcharttitle8,fontSize: 30,},
        scales: {yAxes: [{ticks: {beginAtZero:true}}] },
        legend: {
          display: false
        }
      }
      let Bar8 = canvas8.getContext('2d');
      let Barchart8 = new Chart(Bar8, {type:'bar', data: UsersBar8, options: optionBar8});
    })
  }

</script>
</html>
