html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
    STRUCTURE
*/
html,
body,
div {
  height: 100%;
}
.container {
  width: 100%;
}
.sidenav {
  height: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  border-right: #DDDDDD 4px solid;
}
.sidenav img {
  width: 100%;
}
.sidenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidenav ul li {
  list-style: none;
}
.sidenav ul a {
  padding: 20px 0 20px 0;
  text-decoration: none;
  font-size: 20px;
  color: #7A7A7A;
  display: block;
}
.sidenav ul a:hover {
  color: #094183;
}
.sidenav ul .this {
  background-color: rgba(0, 0, 0, 0.05);
}
.right-content {
  height: 100%;
  background-color: #EFF1F7;
  padding: 1%;
}
/*
    homepage
 */
.home-right {
  height: 100%;
  border-radius: 10px;
  background-image: url("../img/twitter-marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #666666;
  padding-top: 15%;
  text-align: center;
}
.home-right h1 {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 77pt;
  margin: 0 auto;
}
.home-right h2 {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 50pt;
  margin: 0 auto;
}
.about-right {
  color: #7A7A7A;
  overflow-y: auto;
}
.about-right .frame {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bolder;
  margin: 0 0 20px 0;
  height: auto;
  font-size: 2em;
  width: 100%;
  text-align: left;
}
.about-right .frame-detail {
  margin: 0 0 20px 0;
  padding: 20px;
  height: auto;
  color: #4b4b4b;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 1.5em;
  text-align: justify;
}
.about-right .frame-detail img {
  margin-right: 1.5em;
  float: left;
  height: 450px;
}
.about-right .member {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.about-right .member .col-md-2 {
  margin: 0 0.5% 0 0;
  width: 19.6%;
  background-color: #ffffff;
  height: auto;
  text-align: center;
  border-radius: 8px;
}
.about-right .member .col-md-2 ul {
  list-style: none;
  padding: 0;
}
.about-right .member .col-md-2 ul .name {
  color: #094183;
  font-size: 2em;
  font-weight: bolder;
}
.about-right .member .col-md-2 ul .number {
  font-size: 1.5em;
  font-weight: bolder;
}
.about-right .member .col-md-2 ul .task {
  font-size: 1.5em;
}
.about-right .member .col-md-2 img {
  margin: 20px auto;
  width: 80%;
  border-radius: 50%;
}
.about-right .member .col-md-2:last-child {
  margin: 0;
}
.map-right {
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}
.statistic-right {
  overflow-y: auto;
  color: #4b4b4b;
  width: 99%;
}
.statistic-right .col-md-12 {
  padding: 0;
  height: auto;
}
.statistic-right .frame {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bolder;
  color: #7A7A7A;
  margin: 0 0 10px 0;
  height: auto;
  font-size: 2em;
  width: 100%;
  text-align: left;
}
.statistic-right .col-md-4 {
  margin: 0 ;
  height: 100px;
  width: 31%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #909090;
}
.statistic-right .col-md-4 i {
  margin-right: 10px;
  float: left;
  font-size: 80px;
}
.statistic-right .col-md-4 p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 20px;
}
.statistic-right .col-md-4 span {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 60px;
  height: 60px;
  font-size: 45px;
  font-weight: bolder;
}
.statistic-right .tweet {
  margin: 0 3.5% 0 3.5%;
}
.statistic-right .options {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  height: auto;
  font-size: 20px;
  line-height: 20px;
}
.statistic-right .options a {
  background-color: #ffffff;
  padding: 0;
  color: #666666;
  text-decoration: none;
  display: block;
  width: 16%;
  margin: 0 auto;
  text-align: center;
}
.statistic-right .options a:last-child {
  width: 48%;
}
.statistic-right .options a:hover {
  background-color: #8bd9ff;
  color: #094183;
}
.statistic-right .options a:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.statistic-right .statistic-detail {
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
}
.statistic-right .statistic-detail .col-md-6 {
  width: 48%;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #909090;
}
.statistic-right .hide {
  height: 0 !important;
}
.statistic-right .show {
  height: 100% !important;
}
/*# sourceMappingURL=style.css.map */