
@total-width: 1000;
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif!important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*
    STRUCTURE
*/
html,body,div{
  height: 100%;
}

.container{
  width: 100%;
}

.sidenav {
  height: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  border-right: #DDDDDD 5px solid;
  img{
    width: 100%;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
    }
    a{
      padding: 20px 0 20px 0;
      border-bottom: 2px #818181 solid;
      text-decoration: none;
      font-size: 25px;
      color: #2DAAB8;
      display: block;
    }
    a:hover {
      color: #818181;
    }
    .this{
      background-color:#d9edf7;
    }
  }
}
.right-content{
  height: 100%;
  background-color: #EFF1F7;
  padding: 2%;
}

/*
    homepage
 */
.home-right{
  height: 100%;
  border-radius: 20px;
  background-image: url("../img/twitter-marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #666666;
  padding-top: 120px;
  text-align: center;
  h1{
    font-size: 60pt;
    margin: 0 auto;
  }
  h2{
    font-size: 40pt;
  }
  h3{
    font-size: 30pt;
  }
}
// about page
.about-right{
  color: #2DAAB8;
  overflow-y: auto;
  .frame {
    margin: 10px 0;
    height: 8%;
    font-size: 2em;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .frame-detail{
    padding: 20px;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 14px;

    img{
      position: relative;
      height: 60%;
      left: 20%;
    }
    .member{
      margin: 0 auto;
      width: 100%;
      th{
        font-size: 30px;
      }
      tr{
        font-size: 20px;
        width: 30%;
        height: 3em;
        text-align: left;
      }
    }
  }
}
///* About Page */
//#about{
//  .container{
//    position: relative;
//    padding: 1.0em 1.5em;
//    background-color: #454545;
//    color: #f1f1f1;
//    h1{
//      font-size: 20pt;
//      margin: 0 auto;
//    }
//    h2{
//      font-size: 18pt;
//    }
//  }
//  .layout{
//    width: 100%;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-between;
//    div{
//      width: 47%;
//    }
//    .structure{
//      img{
//        width: 100%;
//        padding-top: 15px;
//        display: block;
//      }
//    }
//    .details{
//      line-height: 1.4;
//      font-size: 12px;
//    }
//  }
//}
//
//
//
///* map Page */
//
//#result{
//  width: 500px;
//  height: 500px;
//  border: #2aabd2 solid 1px;
//}
