html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
    STRUCTURE
*/
html,
body,
div {
  height: 100%;
}
.container {
  width: 100%;
}
.sidenav {
  height: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  border-right: #DDDDDD 4px solid;
}
.sidenav img {
  width: 100%;
}
.sidenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.sidenav ul li {
  list-style: none;
}
.sidenav ul li:nth-child(5) {
  position: fixed;
  bottom: 120px;
}
.sidenav ul li:nth-child(5) a {
  color: #094183;
}
.sidenav ul li:nth-child(6) {
  position: fixed;
  bottom: 60px;
}
.sidenav ul li:nth-child(6) a {
  color: #094183;
}
.sidenav ul li:nth-child(7) {
  position: fixed;
  bottom: 0;
}
.sidenav ul li:nth-child(7) a {
  color: #094183;
}
.sidenav ul a {
  padding: 20px 0 20px 0;
  text-decoration: none;
  font-size: 20px;
  color: #7A7A7A;
  display: block;
}
.sidenav ul a:hover {
  color: #094183;
}
.sidenav ul .this {
  background-color: rgba(0, 0, 0, 0.05);
}
.right-content {
  height: 100%;
  background-color: #EFF1F7;
  padding: 1%;
}
/*
    homepage
 */
.home-right {
  margin: 0.5%;
  height: 99%;
  border-radius: 10px;
  background-image: url("../img/twitter-marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #666666;
  padding-top: 15%;
  text-align: center;
  box-shadow: 0 0 5px #666666;
}
.home-right h1 {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 77pt;
  margin: 0 auto;
}
.home-right h2 {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 50pt;
  margin: 0 auto;
}
.about-right::-webkit-scrollbar {
  width: 0 !important;
}
.about-right {
  color: #7A7A7A;
  overflow-y: auto;
}
.about-right .frame {
  color: #094183;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  margin: 0 0 20px 5px;
  height: auto;
  font-size: 2em;
  width: 100%;
  text-align: left;
}
.about-right .frame-detail {
  margin: 0 5px 20px 5px;
  padding: 20px;
  height: auto;
  color: #4b4b4b;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 1.5em;
  text-align: justify;
  box-shadow: 0 0 5px #666666;
}
.about-right .frame-detail img {
  margin-right: 1.5em;
  float: left;
  height: 450px;
}
.about-right .member {
  margin: 0 0 0.5% 0;
  padding: 0;
  width: 100%;
  height: 50%;
  display: table;
}
.about-right .member .col-md-2 {
  display: table-cell;
  margin: 0 0.5% 0 0.5%;
  width: 19%;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px #666666;
}
.about-right .member .col-md-2 ul {
  list-style: none;
  padding: 0;
}
.about-right .member .col-md-2 ul .name {
  color: #094183;
  font-size: 2em;
  font-weight: bolder;
}
.about-right .member .col-md-2 ul .number {
  margin: 15px 0;
  font-size: 1.5em;
  font-weight: bolder;
}
.about-right .member .col-md-2 ul .task {
  font-size: 1.5em;
}
.about-right .member .col-md-2 img {
  margin: 20px auto;
  width: 80%;
  border-radius: 50%;
}
.map-right {
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}
.statistic-right::-webkit-scrollbar {
  width: 0 !important;
}
.statistic-right {
  overflow-y: auto;
  color: #4b4b4b;
  margin: 0 0.5% 0.5% 0.5%;
  width: 99%;
}
.statistic-right .col-md-12 {
  padding: 0;
  height: auto;
}
.statistic-right .frame {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  color: #094183;
  margin: 0 0 10px 0;
  height: auto;
  font-size: 2em;
  width: 100%;
  text-align: left;
}
.statistic-right .col-md-4 {
  margin: 0 0.5%;
  height: 100px;
  width: 29%;
  padding: 10px 0 10px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #666666;
}
.statistic-right .col-md-4 i {
  margin-right: 10px;
  float: left;
  font-size: 80px;
}
.statistic-right .col-md-4 p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 18px;
}
.statistic-right .col-md-4 span {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 60px;
  height: 60px;
  font-size: 3.3rem;
  font-weight: bolder;
}
.statistic-right .tweet {
  margin: 0 5% 0 5%;
}
.statistic-right .statistic-detail {
  width: 100%;
  height: auto;
}
.statistic-right .statistic-detail .col-md-6 {
  border-radius: 5px;
  padding: 0;
  margin: 3% 0.5% 0.5% 0.5%;
  width: 48%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #909090;
}
.statistic-right .statistic-detail .col-md-6 .charts {
  padding: 30px;
}
.statistic-right .statistic-detail .col-md-6 .charts canvas {
  margin-top: 30px;
}
.statistic-right .statistic-detail .col-md-6 .options {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  height: auto;
  font-size: 20px;
  line-height: 20px;
}
.statistic-right .statistic-detail .col-md-6 .options a {
  background-color: #094183;
  padding: 5px 0;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
.statistic-right .statistic-detail .col-md-6 .options a:hover {
  background-color: #ffffff;
  color: #094183;
}
.statistic-right .statistic-detail .col-md-6 .options .activate {
  background-color: #ffffff;
  color: #094183;
}
.statistic-right .hide {
  height: 0 !important;
}
.statistic-right .show {
  height: 100% !important;
}
/*# sourceMappingURL=style.css.map */