<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Group 39
            Zihao Yang
            Wei Li
            Yuqi Zhang
            Xin Li
            Zihao Hu -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ABOUT THIS PROJECT </title>
    <!-- less stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet/less" type="text/css" href="../static/css/styless.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script>
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/fb3f2b2a7a.js" crossorigin="anonymous"></script>
</head>

<body id="about">
    <div class="topnav">
        <a href="home.html">Home</a>
        <a href="#" class="active">About</a>
        <a href="map.html">Map</a>
        <a href="statistics.html">Statistics</a>
    </div>
    <div class="container">
        <h1>About This Project</h1>
    </div>

    <div class="container layout">
        <div class="structure"><img src="../static/img/404.jpg" alt="structure" class="structure"></div>
        <div class="details">
            <p>
                The purpose of this project is to analyse a large amount of data from social media in the
                context of the increasing importance of social media. The main method is to count the number
                of swear words contained in tweets in different cities and analyse the emotions of tweets,
                explore the connection between education level, unemployment rate and economic level with
                emotions of people and swear word. A large number of tweets can provide a lot of useful
                information for analysis tasks and help to improve the quality of analysis results.
                However, due to the rapid growth of data and the large storage space required, data
                analysis and processing often require a system with a good framework and design to support
                the processing of big data analysis. This project established a clustered data analysis
                system based on Nectar Cloud and realized the visualization of the analysis results. In
                this system, we combine the processed data with the statistical data of the Australian
                Urban Research Infrastructure Network (AURIN) platform to explore the story between different
                factors, different emotions and the frequency of swear word.
            </p>
        </div>

    </div>
    <div class="member">
        <h1>About Group Member</h1>
        <table class="member_list">
            <tr>
                <th>Name</th>
                <th>Student Number</th>
                <th>Allocate task</th>
            </tr>
            <tr>
                <td>Zihao Yang</td>
                <td>666666</td>
                <td>1,2,3</td>
            </tr>
            <tr>
                <td>Wei Li</td>
                <td>666666</td>
                <td>1,2,3</td>
            </tr>
            <tr>
                <td>Xin Li</td>
                <td>666666</td>
                <td>1,2,3</td>
            </tr>
            <tr>
                <td>Yuqi Zhang</td>
                <td>666666</td>
                <td>1,2,3</td>
            </tr>
            <tr>
                <td>Zihao Hu</td>
                <td>977716</td>
                <td>1,2,3</td>
            </tr>
        </table>
    </div>
</body>
</html>
