SHELL=/bin/bash
* * * * * python /code/manage.py runjob heartbeat
* * * * * python /code/manage.py runjob search
* * * * * python /code/manage.py runjob stream
* * * * * python /code/manage.py runjob update
0 * * * * python /code/manage.py runjob user_rank