SHELL=/bin/sh
* * * * * printenv | grep DJANGO > /code/cronenv
* * * * * python /code/manage.py runjobs minutely 2> /code/minutely.log
0 * * * * python /code/manage.py runjobs hourly 2> /code/hourly.log
